/**
 * @overview Login Page styles.
 */

.Login__container {
  margin: 0 auto;
  width: 30%;

  h2 {
    text-align: center;
  }
}

.LoginMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  height: 50px;
  border-radius: 5px;
}

.LoginMessage--error {
  font-size: 15px;
}

.Login__form {
  display: flex;
  flex-direction: column;
}

.Login__field {
  width: 100%!important;
}

.Login__button {
  margin-top: 5%;
}
