/**
 * @overview Login Page styles.
 */

.Login__container {
  margin: 0 auto;
  width: 30%;

  h2 {
    text-align: center;
  }
}

.LoginMessage {
  text-align: center;
}

.LoginMessage--error {
  font-size: 20px;
  line-height: 12px;
  color: rgb(244, 67, 54);
}

.Login__form {
  display: flex;
  flex-direction: column;
}

.Login__field {
  width: 100%!important;
}

.Login__button {
  margin-top: 5%;
}
