/**
 * @overview Customer Form Page styles.
 */

.CustomerForm__container {
  margin: 0 auto;
  width: 30%;

  h2 {
    text-align: center;
  }
}
.CustomerForm {
  display: flex;
  flex-direction: column;
}

.CustomerForm__field {
  width: 100%!important;
}

.CustomerForm__button {
  margin-top: 5%;
}
