/**
 * @overview Home page styles.
 */

.Home__container {
  width: 20%;
  margin: 10% auto;

}

.HomeForm {
  text-align: center;
  border: 1px solid #777c84;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}